html, body {
	padding: 0px; margin: 0px;
		}

header {
	background-color: #05536f;
	padding: 0; margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 6vh;
	}

h1 {
	font-size: 16px;
	color: #E6E6FA;
	font-family: arial;
	flex: 1
	}

h2 {font-size: 14px;
	text-decoration: underline;
	margin: 0;
	padding-top: 10px;padding-bottom: 10px;
	background-image:linear-gradient( grey, #E6E6FA)}

#lien {
	padding: 0; margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 30px;
	}

#couche {
	padding: 0; margin: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	
	}

a	{
	border-bottom: 2px solid #05536f;
	background-color: #E6E6FA;
	background-color: white;
	text-decoration: none;
	color: #05536f;
	width: 100%;
	height: 4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}

a[title]{
	border-bottom: 2px solid #E6E6FA;
	border-right: 2px solid #05536f;
	background-color: grey;
	color: white;
	width: 90vh;
	height: 4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}

a:hover {
	color: white;
	background-color: #05536f;
	color: white;

	}

section {
	display: flex;
	height: 90vh;
	}

#menu {
	background-color: #E6E6FA;
	height: 100%;
	width: 30vh;
	justify-content: center;
	border-right: 2px #05536f solid;
	text-align: center;
	}

#page {
	position: relative;
	overflow: auto;
	background-color: #E6E6FA;
	display: flex;
	width: 100%;
	}

#fond {
	position: absolute;
	right: 1%;
	top: 2%;
	padding: 5px;
	}

.map {
	height: 100%;
	width: 100%;
	}

p {
	word-wrap: break-word;
	padding: 0;
	margin: 0;}

#acceuil {height: 30px;
	width: auto;
	justify-content: flex-end;
	width: auto;
	background-color: #05536f;
	display: flex;
	}

input[type="radio"]{display: none;}
label {
	padding: 6px;
	background-color: #05536f;
	border: 1px white solid;
	color: white;
}
label:hover {
	background-color: white;
	color: #05536f;
	border: 1px #05536f solid;
	}

li {list-style: none;}



